@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.logo {
    width: 100px;
    height: auto;
    filter: brightness(0);
}

header {
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}

main {
    padding-top: 100px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.locations {
    font-style: italic;
}

#services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.hexagon {
    width: 200px;
    height: 230px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: transform 0.3s ease;
}

.hexagon:hover {
    transform: scale(1.05);
}

.hexagon h2 {
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}

#coming-soon {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 50px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1rem;
    }

    .hexagon {
        width: 150px;
        height: 173px;
    }

    .hexagon h2 {
        font-size: 1rem;
    }
}
